-
  const thirdList = [
     {
       thirdTitle: 'Photoshop',
       opened: true
     },
     {
       thirdTitle: 'AfterEffect',
       opened: false
     },
     {
       thirdTitle: 'Illustrator',
       opened: false
     },
     {
       thirdTitle: 'Figma',
       opened: false
     }
   ];
  const secondList = [
     {
       secondTitle: 'Дизайн',
       opened: true,
       thirdList
     },
     {
       secondTitle: 'Разработка',
       opened: false,
       thirdList
     },
     {
       secondTitle: 'Аналитика',
       opened: false,
       thirdList
     },
     {
       secondTitle: 'Маркетинг',
       opened: false,
       thirdList
     }
   ];
  const firstLists = [
     {
       firstTitle: 'Курсы',
       opened: true,
       icon: 'hat',
       secondList
     },
     {
       firstTitle: 'Сервисы',
       opened: false,
        icon: 'cloud',
       secondList
     },
     {
       firstTitle: 'Книги',
       opened: false,
        icon: 'book',
       secondList
     },
     {
       firstTitle: 'Товары',
       opened: false,
        icon: 'box',
       secondList
     }
   ];

mixin thirdList(secondItem)
  ul.navigation__third-list
    each thirdItem in secondItem.thirdList
      li(
        class!=thirdItem.opened ? 'navigation__third-item--opened' : ''
        data-receiver='third'
      ).navigation__third-item
        a(href='#' data-toggel='third').navigation__third-title.text--14.text--medium= thirdItem.thirdTitle

mixin secondList(firstItem)
  ul.navigation__second-list
    each secondItem in firstItem.secondList
      li(
        class!=secondItem.opened ? 'navigation__second-item--opened' : ''
        data-receiver='second'
      ).navigation__second-item
        span(tabindex='0' data-toggel='second').navigation__second-title.text--12.text--light= secondItem.secondTitle
        +thirdList(secondItem)

mixin navigation
  nav(class!=attributes.class).navigation
    ul.navigation__first-list
      each firstItem in firstLists
        li(
          class!=firstItem.opened ? 'navigation__first-item--opened' : ''
          data-receiver='first'
        ).navigation__first-item
          span(
            class!='navigation__first-title--' + firstItem.icon
            tabindex='0'
            data-toggel='first'
          ).navigation__first-title.text--18.text--medium= firstItem.firstTitle
          +secondList(firstItem)
