-
  const thirdList = [
     {
       thirdTitle: 'Photoshop',
       opened: true
     },
     {
       thirdTitle: 'AfterEffect',
       opened: false
     },
     {
       thirdTitle: 'Illustrator',
       opened: false
     },
     {
       thirdTitle: 'Figma',
       opened: false
     }
   ];
  const secondList = [
     {
       secondTitle: 'Дизайн',
       opened: true,
       thirdList
     },
     {
       secondTitle: 'Разработка',
       opened: false,
       thirdList
     },
     {
       secondTitle: 'Аналитика',
       opened: false,
       thirdList
     },
     {
       secondTitle: 'Маркетинг',
       opened: false,
       thirdList
     }
   ];
  const firstLists = [
     {
       firstTitle: 'Курсы',
       opened: true,
       icon: 'hat',
       secondList
     },
     {
       firstTitle: 'Сервисы',
       opened: false,
        icon: 'cloud',
       secondList
     },
     {
       firstTitle: 'Книги',
       opened: false,
        icon: 'book',
       secondList
     },
     {
       firstTitle: 'Товары',
       opened: false,
        icon: 'box',
       secondList
     }
   ];

mixin thirdList(secondItem)
  ul.navigation__third-list
    each thirdItem in secondItem.thirdList
      li(
        class!=thirdItem.opened ? 'navigation__third-item--opened' : ''
      ).navigation__third-item
        a(href='/').navigation__third-title= thirdItem.thirdTitle

mixin secondList(firstItem)
  ul.navigation__second-list
    each secondItem in firstItem.secondList
      li(
        class!=secondItem.opened ? 'navigation__second-item--opened' : ''
      ).navigation__second-item
        span(
          tabindex='0'
          data-accordion-trigger='2-level'
        ).navigation__second-title= secondItem.secondTitle
        +thirdList(secondItem)

mixin navigation
  nav(class!='navigation' + '')&attributes(attributes)
    ul.navigation__first-list
      each firstItem in firstLists
        li(
          class!=firstItem.opened ? 'navigation__first-item--opened' : ''
        ).navigation__first-item
          span(
            class!='navigation__first-title--' + firstItem.icon
            tabindex='0'
            data-accordion-trigger='1-level'
          ).navigation__first-title= firstItem.firstTitle
          +secondList(firstItem)
