mixin rating
  fieldset(class!='rating' + '')&attributes(attributes)
    legend.rating__legend Оценка курса:

    each star, index in starsCount
      - const number = index + 1
      - const inputId = `rate-input-${number}-${makeid(10)}`

      input(
        name='rating'
        type='radio'
        id!=inputId
        value!=number
        required!=attributes.required
      )
      label(for!=inputId)!= `${number} ${declOfNum(number, ['балл', 'балла', 'баллов'])} из 5`

    span.rating__focuse
