mixin reviews-form
  - const {method, action, autocomplete} = attributes
    form(class!=attributes.class method!=method action!=action autocomplete!=autocomplete).reviews-form
      +input('Напишите ваше имя')(name='name' type='text' placeholder='Имя').reviews-form__name

      +input('Напишите заголовок отзыва')(
        name='title'
        type='text'
        placeholder='Заголовок отзыва'
      ).reviews-form__title

      .reviews-form__rating
        p(aria-hidden).reviews-form__rating-label Оценка:
        +rating(required='required')

      +input('Напишите ваш отзыв')(
        name='review'
        type='textarea'
        placeholder='Текст отзыва'
      ).reviews-form__message

      footer.reviews-form__footer
        +button('Отправить')(type='submit').reviews-form__button
        p.reviews-form__annotation * Перед публикацией отзыв пройдет предварительную модерацию и проверку
