mixin input(label)
  - const {
      name = 'name',
      type = 'text',
      placeholder = 'Текст подсказка',
      desabled = 'false',
      required = 'required',
      spellcheck = 'true',
      method = 'get',
      action = '#',
      autocomplete = 'off'
    } = attributes

  case type
    when 'search'
      form(
        class!=attributes.class
        method!=method
        action!=action
        autocomplete!=autocomplete
        role='search'
      ).input.input--search
        label
          span.input__label= label
          input(
            name!=name
            type!=type
            placeholder!=placeholder
            disabled!=disabled
            required!=required
          ).input__input
        +button('', 'primary', 'search')(type='submit' disabled!=disabled).input__button

    when 'textarea'
      label(class!=attributes.class).input.input--textarea
        span.input__label!= label
        textarea(
          name!=name
          placeholder!=placeholder
          spellcheck!=spellcheck
          required!=required
        ).input__input

    default
      label(class!=attributes.class).input
        span.input__label= label
        input(
          name!=name
          type!=type
          placeholder!=placeholder
          disabled!=disabled
          required!=required
        ).input__input
